<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="MartinMilani" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Tabla posiciones futbol argentino, contiene los puntos de cada equipo, cantidad de partidos jugdos, 
      partidos empatados, partidos perdidos, goles a favor, goles en contra y diferencia de goles,
      muestra las 4 primeros equipos que juegan la copa y los ultimos 4 que juegan el descenso"
    />
    <meta
      name="keywords"
      content="Futbol,Superliga,Primera,Goles,Descenso,Campeonato,Copa,Diferencia de Goles,Puntos"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Mustang Cloud Challenge Tabla de Posiciones del Futbol Argentino</title>
  </head>
  <body>

    {{{body}}}

  </body>
</html>